<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.b2b2c.dao.product.ProductMapper">
	
	<update id="updateProductAll" parameterType="Product">
		UPDATE `product` SET `name`=#{name}
		,`description`=#{description}
		,`price`=#{price}
		,`bazaarPrice`=#{bazaarPrice}
		,`stock`=#{stock}
		,<if test="fileName !=null and fileName !=''">`fileName`=#{fileName},</if>
		`salesVolume`=#{salesVolume}
		,`evaluateSales`=#{evaluateSales}
		,`giveIntegral`=#{giveIntegral}
		,`model`=#{model}
		,`colour`=#{colour}
		,`isDelete`=#{isDelete}
		WHERE `id`=#{id}
		
	</update>
	<select id="count" resultType="int">
		select count(1) from product where 1=1
		<if test="kw !=null and kw !=''">
			and name like concat('%',#{kw},'%')
		</if>
		
	</select>
	<select id="getProductList" resultType="product">
		SELECT p.* FROM `product` p WHERE 1=1
		<if test="proName !=null and proName !=''">
			and p.name like CONCAT('%',#{proName},'%')
		</if>
		<if test="level ==1 and categoryId !=null">
			and p.categoryLevel1Id=#{categoryId}
		</if>
		<if test="level ==2 and categoryId !=null">
			and p.categoryLevel2Id=#{categoryId}
		</if>
		<if test="level ==3 and categoryId !=null">
			and p.categoryLevel3Id=#{categoryId}
		</if>
		limit #{from},#{pageSize}
	</select>
	<select id="getProduct" resultType="product">
		SELECT p1.* FROM `product` p1 WHERE `id`=#{pId}
	</select>

	<update id="updateNumber">
		UPDATE `product` SET `stock`=#{number} WHERE `id`=#{pId}
	</update>

	
	
	<select id="getProductById" resultType="product">
		SELECT p1.* FROM `product` p1 WHERE p1.categoryLevel1Id=#{pId}
	</select>
	
	<select id="getCount" resultType="int">
	SELECT COUNT(1) FROM product p WHERE 1=1
	<if test="pName !=null and pName !=''">
		and p.name like CONCAT('%',#{pName},'%')
	</if>
	<if test="level ==1 and categoryId !=null">
		and p.categoryLevel1Id=#{categoryId}
	</if>
	<if test="level ==2 and categoryId !=null">
		and p.categoryLevel2Id=#{categoryId}
	</if>
	<if test="level ==3 and categoryId !=null">
		and p.categoryLevel3Id=#{categoryId}
	</if>
	</select>

	<insert id="insertCommodity" >
		INSERT INTO user_commodity (userId,productId) VALUES(#{uid},#{pid})
	</insert>
	
	<select id="getCommodityByuid" resultType="product">
		SELECT p.* FROM product p JOIN `user_commodity` uc ON p.id=uc.productId 
		WHERE uc.userId=#{uid}
	</select>
	
	<delete id="deleteCommodity">
	
	DELETE FROM`user_commodity` WHERE userId=#{uid} and `productId`=#{pid}
	
	</delete>
	
	<select id="selectComm" resultType="product">
	SELECT p.* FROM product p JOIN `user_commodity` uc ON p.id=uc.productId WHERE uc.userId=#{uid} and uc.productId=#{pid}
	</select>
	<!-- 收藏总条数 -->
	<select id="getcommodityCount" resultType="int">
		select count(*) from user_commodity c where c.userId=#{uid}
	</select>
	
</mapper>