<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.b2b2c.dao.order.OrderMapper">

	<update id="updateOrderDetail">
		UPDATE `order_detail` SET `evaluateStaticId`=2 WHERE `orderId`=#{oId} AND `productId`=#{pId}
	</update>
	<select id="statisticalData" resultType="Order">
		SELECT o.* FROM `order` o WHERE DATE_SUB(CURDATE(),INTERVAL 7 DAY)<![CDATA[ <=(o.`createTime`) ]]>
	</select>
	<insert id="addOrder" parameterType="Order">
		INSERT INTO `order`(`userId`,`userAddressId`,`createTime`,`cost`,`serialNumber`,`deliveryTimeId`,`paymentStatusId`,`paymentWayId`,`distributionWayId`,`userTiscountCouponId`,`invoiceTypeId`,`invoiceContentId`,`leaveWord`)
		VALUES(#{userId},#{userAddressId},#{createTime},#{cost},#{serialNumber},#{deliveryTimeId},#{paymentStatusId},#{paymentWayId},#{distributionWayId},#{userTiscountCouponId},#{invoiceTypeId},#{invoiceContentId},#{leaveWord})
	</insert>
	<select id="getId" resultType="int">
		SELECT `id` FROM `order` WHERE `serialNumber`=#{number}
	</select>
	
	<select id="getDistributionWayId" resultType="DistributionWay">
		SELECT dw.* FROM `distribution_way` dw WHERE `id`=#{dId}
	</select>
	
	<update id="updateOrder">
		UPDATE `order` SET `paymentStatusId`=2 where `serialNumber`=#{su}
	</update>
	
		<select id="getOrderById" resultType="Order">
SELECT o.`id`,o.`createTime`,o.`cost`,o.`serialNumber`,ua.`consignee` AS consignee,ua.`address` AS address,ua.`addressPhone` AS addressPhone,ua.`postcode` AS postcode,
dt.`timeName` AS timeName ,ps.`statusName` AS statusName,pw.`wayName` AS wayName,dw.`dbtName` AS dbtName,
od.`productId` AS productId,od.`quantity` AS quantity,od.`cost` AS costt,pp.fileName AS fileName, pp.name AS `name`,pp.colour as colour,pp.price AS price,ds.`deliveryStatus`AS `deliveryStatus`
FROM `order` o
JOIN `user_address` ua ON o.userAddressId=ua.id 
JOIN `delivery_time` dt ON o.`deliveryTimeId`=dt.id 
JOIN `payment_status` ps ON o.`paymentStatusId`=ps.id 
JOIN `payment_way` pw ON o.`paymentWayId`=pw.id 
JOIN `distribution_way` dw ON o.`distributionWayId`=dw.id
JOIN `order_detail` od ON o.id=od.`orderId`
JOIN `product` pp ON pp.id=od.`productId`
LEFT JOIN `delivery_status` ds ON ds.id=o.`deliveryStatusId`
WHERE 1=1
<if test="uid!=null and uid!=''">
and o.userId=#{uid}
</if>
 and o.serialNumber=#{uNum}
	
	</select>
	
	
	<select id="getUserComm" resultType="Order">
SELECT o.`id`,o.`createTime`,o.`cost`,o.`serialNumber`,ua.`consignee` AS consignee,ua.`address` AS address,ua.`addressPhone` AS addressPhone,ua.`postcode` AS postcode,
dt.`timeName` AS timeName ,ps.`statusName` AS statusName,pw.`wayName` AS wayName,dw.`dbtName` AS dbtName,
od.`productId` AS productId,od.`cost` AS costt,pp.fileName AS fileName , pp.name AS `name`,pp.price AS price ,COUNT(o.serialNumber) AS suCount,ds.`deliveryStatus`AS `deliveryStatus`
FROM `order` o
JOIN `user_address` ua ON o.userAddressId=ua.id 
JOIN `delivery_time` dt ON o.`deliveryTimeId`=dt.id 
JOIN `payment_status` ps ON o.`paymentStatusId`=ps.id 
JOIN `payment_way` pw ON o.`paymentWayId`=pw.id 
JOIN `distribution_way` dw ON o.`distributionWayId`=dw.id  
JOIN `order_detail` od ON o.id=od.`orderId` 
JOIN `product` pp ON pp.id=od.`productId`
LEFT JOIN `delivery_status` ds ON ds.id=o.`deliveryStatusId`
		WHERE 1=1
		<if test="uid!=null and uid!=''">
			and o.userId=#{uid}
		</if>
		GROUP BY o.serialNumber
HAVING COUNT(o.serialNumber)
ORDER BY o.createTime DESC
		limit #{from},#{pageSize}
	</select>
	<select id="getCountComm" resultType="int">
	SELECT count(*) FROM `order` o where 1=1
	<if test="uid!=null and uid!=''">
			and o.userId=#{uid}
	</if>
	</select>
	
	<select id="getOrderAll" resultType="Order">
	SELECT o.`id`,o.`createTime`,o.`cost`,o.`serialNumber`,ua.`consignee` AS consignee,ua.`address` AS address,ua.`addressPhone` AS addressPhone,ua.`postcode` AS postcode,
dt.`timeName` AS timeName ,ps.`statusName` AS statusName,pw.`wayName` AS wayName,dw.`dbtName` AS dbtName,
od.`productId` AS productId,od.`cost` AS costt,pp.fileName AS fileName , pp.name AS `name`,pp.price AS price ,COUNT(o.serialNumber) AS suCount,ds.`deliveryStatus`AS `deliveryStatus`
FROM `order` o
JOIN `user_address` ua ON o.userAddressId=ua.id 
JOIN `delivery_time` dt ON o.`deliveryTimeId`=dt.id 
JOIN `payment_status` ps ON o.`paymentStatusId`=ps.id 
JOIN `payment_way` pw ON o.`paymentWayId`=pw.id 
JOIN `distribution_way` dw ON o.`distributionWayId`=dw.id  
JOIN `order_detail` od ON o.id=od.`orderId` 
JOIN `product` pp ON pp.id=od.`productId`
LEFT JOIN `delivery_status` ds ON ds.id=o.`deliveryStatusId`
WHERE 1=1
GROUP BY o.serialNumber
limit #{from},#{pageSize}
	</select>
</mapper>