<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.b2b2c.dao.order.OrderMapper">
	<insert id="addOrder" parameterType="Order">
		INSERT INTO `order`(`userId`,`userAddressId`,`createTime`,`cost`,`serialNumber`,`deliveryTimeId`,`paymentStatusId`,`paymentWayId`,`distributionWayId`,`userTiscountCouponId`,`invoiceTypeId`,`invoiceContentId`,`leaveWord`)
		VALUES(#{userId},#{userAddressId},#{createTime},#{cost},#{serialNumber},#{deliveryTimeId},#{paymentStatusId},#{paymentWayId},#{distributionWayId},#{userTiscountCouponId},#{invoiceTypeId},#{invoiceContentId},#{leaveWord})
	</insert>
	<select id="getId" resultType="int">
		SELECT `id` FROM `order` WHERE `serialNumber`=#{number}
	</select>
	
	<select id="getDistributionWayId" resultType="DistributionWay">
		SELECT dw.* FROM `distribution_way` dw WHERE `id`=#{dId}
	</select>
	
	<update id="updateOrder">
		UPDATE `order` SET `paymentStatusId`=2 where `serialNumber`=#{su}
	</update>
	
	
</mapper>