<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.b2b2c.dao.backuser.BackUserMapper">

	<select id="getBackUser" resultType="BackUser">
		SELECT bu.* FROM `back_user` bu WHERE bu.`backUserName`=#{bName}
	</select>

</mapper>