<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.b2b2c.dao.role.RoleMapper">
	<select id="getRoles" resultType="String">
	SELECT r.`roleName` FROM `back_user` bu JOIN `role` r ON bu.`roleId`=r.`id` WHERE bu.`backUserName`=#{name}
	</select>
</mapper>