<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.b2b2c.dao.user.UserMapper">
	<update id="updatemodify">
	 update user set userName=#{userName},birthday=#{birthday},sex=#{sex}
	 where id=#{id}
	</update>
	<update id="updateBackUser" parameterType="User">
		update user set userName=#{userName},sex=#{sex},email=#{email},phone=#{phone},birthday=#{birthday}
		where id=#{id}
	</update>
	<select id="basic" resultType="User">
		SELECT `id`,`userName`,`password`,`phone`,`sex`,`birthday`,`headPortrait`,`email`FROM `user` WHERE id=#{id}
	</select>

	<select id="userAll" resultType="User">
		SELECT u.* FROM `user` u where 1=1
		<if test="kw !=null and kw !=''">
			and u.userName LIKE CONCAT('%',#{kw},'%')
		</if>		
		<if test="bt !=null and bt !='' ">
			and 
		</if>
		<if test="et !=null and et !=''">
			and 
		</if>		
		limit #{cpn},#{ps}
	</select>
	
	<select id="userCount" resultType="int">
		SELECT count(1) FROM `user` where 1=1
		<if test="bt !=null and bt !='' ">
			and 
		</if>
		<if test="et !=null and et !=''">
			and 
		</if>
		<if test="kw !=null and kw !=''">
			and userName LIKE CONCAT('%',#{kw},'%')
		</if>
	</select>

	<select id="userLogin" resultType="User">
		SELECT * FROM `user` 
		<trim prefix="where" prefixOverrides="and | or">
			<if test="userName !=null and userName !=''">
				and `userName`=#{userName}
			</if>		
		</trim>
	</select>
	<select id="phoneLogin" resultType="User">
	SELECT * FROM `user` 
		<trim prefix="where" prefixOverrides="and | or">
			<if test="phone !=null and phone !=''">
				and `phone`=#{phone}
			</if>		
		</trim>
	</select>
	<!-- 注册 -->
	<insert id="regist" parameterType="User">
	INSERT INTO user(userName,phone,password)VALUES(#{userName},#{phone},#{password})
	</insert>
	
	
	<select id="getAll" resultType="UserAddress">
		SELECT ua.* FROM `user_address` ua  
		<trim prefix="where" prefixOverrides="and | or">
			<if test="uId !=null and uId !=''">
				`userId`=#{uId}
			</if>
		</trim>
	</select>
	
	<insert id="addAddress" parameterType="UserAddress">
		INSERT INTO `user_address`(`userId`,`consignee`,`address`,`addressPhone`,`postcode`)
		VALUES(#{userId},#{consignee},#{address},#{addressPhone},#{postcode})
	</insert>
	
	<update id="update" parameterType="UserAddress">
		UPDATE `user_address` ua
		<trim prefix="set" suffixOverrides=",">
			<if test="consignee !=null">ua.`consignee`=#{consignee},</if>
			<if test="address !=null">ua.`address`=#{address},</if>
			<if test="addressPhone !=null">ua.`addressPhone`=#{addressPhone},</if>
			<if test="postcode !=null">ua.`postcode`=#{postcode},</if>
		</trim>
		WHERE ua.`userId`=#{userId} AND ua.`id`=#{id}
	</update>
	
	<delete id="deleteAddress">
		DELETE FROM `user_address` WHERE `userId`=#{uId} AND `id`=#{aId}
	</delete>
	
	
	
</mapper>